<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
   *{
    margin:0;
    padding:0;
    box-sizing: border-box;
   }
   .mainContent{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   }

   .mainContent a{
      text-decoration: none;
      color:rgb(34, 167, 200);
   }
   .mainContent a:hover{
    color:brown;
   }
   .mainContent h1{
      padding-bottom: 3rem;
   }
   .mainContent h3{
      padding-bottom: 2rem;
   }
   .card{
    margin: 1rem;
    padding: 0.3rem;
    width: 30%;
    border: 1px solid black;
    box-shadow: 14px 16px 19px -4px rgba(0,0,0,0.47);
   }
  </style>
</head>
<body>
  <main>
    @if(!auth.user)
      
      <div class="mainContent">
        <h1>You need to <a href="{{route('auth.login')}}">Login</a> to your account</h1> 
      </div>
    @endif

    @if(auth.user)

    <a href="{{route('auth.logout')}}">Logout</a>

      <div class="mainContent">
        <h1>Welcome to Your Page</h1> 
        <div>
          <form action="{{ route("auth.create") }}" method="POST">
            <input type="text" name="email" placeholder="Your email">
            <input type="text" name="msg" placeholder="Your msg">
            <button type="submit">Post</button>
          </form>
        </div>
        @each(article in articles)
          <div class="card">
            <p>{{article.body}}</p>
            <button type="">Delete</button>
            <button type="">Update</button>
          </div>
        @endeach
        
      </div>
      @endif
  </main>

</body>
</html>
